body{
    background-color: black;
}
.top{
    display: block;
    width: 820px;
    height: 470px;
    border: solid 2px gray;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0.5px 0.5px 13px gray inset;
}
i{
    color: white;
    margin-left: 420px;
    margin-top: 10px;
}
img{
    display: block;
    position: relative;
    top: 1%;
    right: 2%;
    left: 3%;
    bottom: 4%;
    width: 94%;
    /* margin: auto; */
    height: 87%;
}
a{
    display: block;
    margin-top: 10px;
    margin-left: 380px;
    text-decoration: none;
    color:white;
}
#rotate{
    display: inline-block;
    -webkit-transform: rotate(-35deg);
}
.bottom{
    display: block;
    width: 820px;
    height: 470px;
    border: solid 2px grey;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0.5px 0.5px 13px grey inset;
}
#left{
    display: inline-block;
    height: 20px;
    width: 40px;
    margin-left: 20px;
    border: 1px solid grey;
    box-shadow: 0.5px 0.5px 10px grey inset; 
}
#right{
    display: inline-block;
    height: 20px;
    width: 40px;
    float: right;
    /* margin-left: 673px; */
    margin-right: 20px; 
    border: 1px solid grey;
    box-shadow: 0.5px 0.5px 10px grey inset;
}
#power{
    display: block;
    float: right;
    margin-top: 35px;
    margin-right: 10px;
    width: 25px;
    height: 25px;
    border: 1px solid grey;
    border-radius: 50%;
}
.keyboard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 560px;
    height: 250px;
    margin-left: 20px;
    margin-top: 65px;
    left: 580px;
    border: 1px solid none;
}
/* .function_keys{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */
.keyboard > function_keys{
    display: flex;
    flex-direction: row;
    color: white;
    text-align: center;
    font-size: 8px;
    width: 25px;
    height: 20px;
    border: 1px solid red;
    box-shadow: 0.5px 0.5px 10px red inset;
}
